{% extends 'base.html.twig' %}

{% block body %}

            <img class="text-center" src="{{ asset('images/cover-image.jpg') }}" width="100%" height="400px"/>

            <div class="page-header text-center" id="welcome">
                <h1>{{ message }}</h1>

            </div>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <table class="table text-center">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Due Date</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for todo in todos %}
            <tr>
                <th scope="row">{{ todo.id }}</th>
                <td>{{ todo.name }}</td>
                <td>{{ todo.startDateTime | date("F j,y, g:i:a")}}</td>
                <td>
                    <a  class="btn btn-success" href="/todo/details/{{ todo.id }}">View</a>
                    <a  class="btn btn-primary" href="/todo/edit/{{ todo.id }}">Edit</a>
                    <a  class="btn btn-danger" href="/todo/delete/{{ todo.id }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
